<doctype html>
<title>Add User - Python Flask MySQL CRUD</title>
<h2>Add User</h2>
<form action="data" method="post">
    <dl>
  <p>
   <input name="name" value="" type="text" placeholder="Name" autocomplete="off" required>
  </p>
  <p>
   <input name="email" value="" type="text" placeholder="Email" autocomplete="off" required>
  </p>
    <p>
   <input name="phone_number" value="" type="text" placeholder="Phone Number" autocomplete="off" required>
  </p>
  <p>
   <input name="requirement" value="" type="text" placeholder="Requirement" autocomplete="off" required>
  </p>
    </dl>
    <p>
  <input type="submit" value="Submit">
 </p>
</form>